services:
  backend:
    user: "1001:1001"
    ports:
      - "8000:3200"  
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: paddock-backend
    environment:
      PYTHONUNBUFFERED: "1"
      ALLOWED_ORIGINS: "http://localhost:3000,http://127.0.0.1:3000"
      HDF5_USE_FILE_LOCKING: "FALSE"
      GDAL_DATA: /opt/conda/envs/PaddockTSEnv/share/gdal
      PROJ_LIB: /opt/conda/envs/PaddockTSEnv/share/proj
    volumes:
       - ./backend:/app/backend
       - /borevitz_projects/data/:/borevitz_projects/data/
       - /borevitz_projects/dev/tools/miniconda3/:/opt/conda/

    restart: always
    networks:
      - edge

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
      args:
        NEXT_PUBLIC_API_URL: /PaddockTS/api
        NEXT_BASEPATH: /PaddockTS
    container_name: paddock-frontend
    environment:
      NODE_ENV: production

    restart: always
    networks:
      - edge
    

#   caddy:
#     image: caddy:2
#     container_name: paddock-caddy
#     depends_on: [frontend, backend]
#     ports:
#       - "80:80"
#       - "443:443"
#     volumes:
#       - ./ops/Caddyfile:/etc/caddy/Caddyfile:ro
#       - caddy_data:/data
#       - caddy_config:/config
#     environment:
#       DOMAIN: http://130.56.246.157   # e.g., app.example.com
#     restart: always
#     networks:
#       - default
#       - edge

# volumes:
#   caddy_data:
#   caddy_config:

networks:
  edge:
    external: true
