services:
  backend:
    user: "1001:1001"
    ports:
      - "8000:3200"  
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: paddock-backend
    environment:
      PYTHONUNBUFFERED: "1"
      ALLOWED_ORIGINS: "http://localhost:3000,http://127.0.0.1:3000"
      HDF5_USE_FILE_LOCKING: "FALSE"
      GDAL_DATA: /opt/conda/envs/PaddockTSEnv/share/gdal
      PROJ_LIB: /opt/conda/envs/PaddockTSEnv/share/proj
    volumes:
       - /borevitz_projects/repos/paddock-ts-local:/borevitz_projects/repos/paddock-ts-local
       - /borevitz_projects/repos/DAESIM_preprocess:/borevitz_projects/repos/DAESIM_preprocess
       - ./backend:/app
       - /borevitz_projects/data/:/borevitz_projects/data/
       - /borevitz_projects/dev/tools/miniconda3/:/opt/conda/
    
    command: python -m uvicorn main:app --host 0.0.0.0 --port 3200 --reload

    restart: always
    networks:
      - edge

  frontend:
    user: "1001:1001"
    build:
      context: .
      dockerfile: frontend/Dockerfile
      args:
        NEXT_PUBLIC_API_URL: /PaddockTS/api
        NEXT_BASEPATH: /PaddockTS
    container_name: paddock-frontend
    # environment:
    #   # NODE_ENV: production
    working_dir: /app/frontend
    volumes:
      - ./frontend:/app/frontend
      - paddock_frontend_node_modules:/app/frontend/node_modules
      # - paddock_frontend_next:/app/frontend/.next

    command: npm run dev
      
    restart: always
    networks:
      - edge
    

#   caddy:
#     image: caddy:2
#     container_name: paddock-caddy
#     depends_on: [frontend, backend]
#     ports:
#       - "80:80"
#       - "443:443"
#     volumes:
#       - ./ops/Caddyfile:/etc/caddy/Caddyfile:ro
#       - caddy_data:/data
#       - caddy_config:/config
#     environment:
#       DOMAIN: http://130.56.246.157   # e.g., app.example.com
#     restart: always
#     networks:
#       - default
#       - edge

# volumes:
#   caddy_data:
#   caddy_config:

networks:
  edge:
    external: true

volumes:
  paddock_frontend_node_modules:
  # paddock_frontend_next:
